.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon a {
  margin-left: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.619);
  font-weight: bold;
}

.navbar-lewagon p {
    font-size: 31px;
    margin-top: 0;
    margin-bottom: 2px;
}
